@media(max-width:1200px){
    .container{
        max-width: 992px;
    }
    .slide-wrapper-second{
        margin-left: 0;
    }
}



@media(max-width:992px){
    .container{
        max-width: 960px;
    }
.price__item-save{
   padding-top: 60px; 
}
.info{
    font-size: 20px;
}

.info__link{
    margin-top: 36px;
    a{

        font-size: 20px;
    }
}
    .product__container-slide{
        flex-direction: column;
    }
    .product__cotainer-description{
        max-width: 500px;
    }
    .slide-wrapper{
        margin: 30px auto 0;
    }
    .slide-wrapper-second{
        margin: 30px auto 0;
        justify-content: center;
    }
    .product__slider-item{
        width: 32%;
    }
    .active{
        width: 100%;
    }
    .contact__wrapper{
        padding: 104px 0 0 30px;
    }
    .contact__map{
        top: 20%;
    }
}

@media(max-width:768px){
    .container{
        width: 574px;
    }

    .info{
        margin-top: 88px;
        font-size: 15px;
    }
    .info__link{
        margin-top: 22px;
        a{
    
            font-size: 13px;
        }
    }
    .logo{
      height: 290px;
    }
    .price{
        margin-top: 60px;
        font-size: 16px;
    }
    .price__item-save{
        padding-top: 60px;
    }
    .company__wrapper-header{
        font-size: 11px;
    }
    h3{
        font-size: 15px;
    }
    .assortment{
        font-size: 11px;
    }
    .contact__wrapper{
        padding: 50px 0 0 0 ;
        align-self: center;
    }
    .contact__map{
        top: 60%;
        margin: 0 auto;
        left: 22%;
        right: 22%;
    }
}


@media(max-width:575px){
    .container{
        width: 320px;
    }
    .price{
        margin-top: 10px;
        font-size: 10px;
    }
    .logo{
        height: 150px;
    }
    .info{
        margin-top: 10px;
        font-size: 10px;
    }
    .info__link{
        margin-top: 10px;
        a{
            font-size: 9px;
        }
    }
    .price__item-save{
        padding-top: 12px;
        font-size: 9px;
    }
    .company__wrapper-header{
        font-size: 8px;
    }
    h3{
        font-size: 9px;
    }
    .assortment{
        font-size: 8px;
        margin-top: 5px;
    }
    .product__container-slide{
        margin-top: 5px;
    }
    .product__cotainer-description{
        margin-top: 5px;
        font-size: 10px;
    }
    .contact__map{
        top: 53%;
        height: 200px;
    }
    .contact__header{
        padding-top: 30px;
        text-align: center;
        color: #FFF;
        font-size: 18px;
    }
    .contact__wrapper{
        padding: 13px 0 0 0;
    }
    .contact__work-time-pr{
        margin-top: 36px;
    }

    .product__slider-item-second{
        max-width: 240px;
    }
    .product__slider-item{
        img{
            height: 35vh;
        }
    }
}
